@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo\ Sans\ W01\ Rounded\ 1000.woff2') format('woff2'),
         url('../fonts/Museo\ Sans\ W01\ Rounded\ 1000.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Museo, Arial, Helvetica, sans-serif;
    background-image: url(../img/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c5c5c8;
    color: #e1e1e1;
    letter-spacing: 0.1em;
    height: 97vh;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    box-sizing: border-box;
    overflow: hidden;
}

.product {
    display: flex;
    justify-content: space-evenly;
    max-width: 750px;
    width: 90%;
    background-color: #111a28;
    border-radius: 20px;
    box-shadow: 0 0 50px black;
}

.product__logo {
    margin: 25px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container {
    max-width: 190px;
    margin: 0 40px;
    align-self: center;
}

.right-container div {
    margin: 25px 0;
}

.product__logo {
    align-self: flex-start;
}

.product__picture {
    margin: 70px 30px 0 30px;
}

/* Color dots checkbox */

.dots {
    margin: 50px 0 25px 0;
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border: 2px solid #111a28;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
}

#grey {
    background-color: #1f273f;
}

#white {
    background-color: white;
}

#red {
    background-color: red;
}

#blue {
    background-color: lightskyblue;
}

input:checked + .dot  {
    border: 2px solid #c5c5c8;
}

.dot:hover {
    border: 2px solid white;
}

.radio {
    position: absolute;
    visibility: hidden;
}

.product__name {
    font-size: 24px;
}

.product__description {
    font-size: 14px;
    color: #9da1a6;
}

.opasity-box {
    background-color: #ffffff00;
    height: 30px;
    color: #e1e1e1;
    font-family: Museo, Arial, Helvetica, sans-serif;
    padding: 0 7px;
}

option {
    background: #1f273f;
    text-align: center;
    color: #e1e1e1;
}

.product__btn {
    height: 40px;
    display: block;
    width: 100%;
    border: 1px solid #9da1a6;
}

.opasity-box:hover {
    background-color: #ffffff22;
}

/* Star rating */

.fa-star {
    color: #9da1a6;
    padding: 0 2px;
   
}

.star-input:checked ~ label span {
    color: orange;
}

.star-input:hover ~ label span {
    color: yellow;
    text-shadow:
   /* -1px -1px 0 white,  this makes stroke to letter
    1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white, */

     0 0 2px yellow, /* to make effect more stronger */
     0 0 2px white;
}

.star-input {
    display: none;
}

.product__star-rate {
    display: flex;
    flex-flow: row-reverse; /* need to reverse star order */
    justify-content: flex-end;
}

/* Tooltips */

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 180%;
    left: 50%;
    margin-left: -40px;
    font-size: .8em;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .9;
  }

@media only screen and (max-width: 680px) {

    .product {
        flex-direction: column;
    }
}